# Ignore node_modules
node_modules/

# Ignore build artifacts
artifacts/
*.sol.json
*.dbg.json

# Ignore Remix-specific files
.states/
vm-cancun   

# Ignore OS-specific files
.DS_Store
contract/.DS_Store
Thumbs.db
.deps/